body {
  margin: 50px !important
}

.text-box {
  width: 75%;
}

.thumb-nail {
  height: 140px;
}

.thumb-container {
  border: 1px solid red;
}

.thumbnail {
  padding: 10px;
  text-align: center;
  border: 1px solid #8F8F8F;

}
